body {
    background: #000 url(stars.png) repeat top center;
}



.objectInterpretation {
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.objectInterpretation .definitions {
    display: block;
    overflow: auto;
    text-align: justify;
    background: white;
    padding: 10px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border: solid 1px #505050;
}

.objectInterpretation .mheader {
    display: block;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 10px;
    background: #303030;
    color: white;
    border: solid 1px #505050;
}

.objectInterpretation .definitions .header {
    display: block;
    border-bottom: solid 2px #505050;
    transform-origin: left top 0;
}

.objectInterpretation .definitions .aspectOpposition .header::before {
    content: '';
    background: url('svg/Aspect-opposition.svg');
    background-size: 15px 15px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 15px;
    height: 15px;
}

.objectInterpretation .definitions .aspectConjunction .header::before {
    content: '';
    background: url('svg/Aspect-conjunction.svg');
    background-size: 15px 15px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 15px;
    height: 15px;
}

.objectInterpretation .definitions .aspectTrine .header::before {
    content: '';
    background: url('svg/Aspect-trine.svg');
    background-size: 15px 15px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 15px;
    height: 15px;
}

.objectInterpretation .definitions .aspectSextile .header::before {
    content: '';
    background: url('svg/Aspect-sextile.svg');
    background-size: 15px 15px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 15px;
    height: 15px;
}

.objectInterpretation .definitions .aspectSquare .header::before {
    content: '';
    background: url('svg/Aspect-square.svg');
    background-size: 15px 15px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 15px;
    height: 15px;
}

.objectInterpretation .definitions .aspectOpposition .header {
    border-color: orange;
}

.objectInterpretation .definitions .aspectConjunction .header {
    border-color: yellow;
}

.objectInterpretation .definitions .aspectSquare .header {
    border-color: red;
}

.objectInterpretation .definitions .aspectSextile .header {
    border-color: green;
}

.objectInterpretation .definitions .aspectTrine .header {
    border-color: blue;
}

.objectInterpretation .definitions .block {
    float: left;
    padding: 10px;
}

@media only screen and (max-width:899px) {
    .objectInterpretation .definitions .block {
        width: 100%;
    }
}

@media only screen and (min-width:900px) {
    .objectInterpretation .definitions .block {
        width: 50%;
    }
}

.hidden {
    display: none !important;
}